.searchByName input {
    width: 100%;
    outline: none;
    border: none; 
    border-bottom: 1px solid lightgray;
    height: 3em;
    font-family: 'Open Sans', sans-serif;
}

.searchByName input:focus{
    border-bottom: 1px solid black;
}

.searchByTag input {
    width: 100%;
    outline: none;
    border: none; 
    border-bottom: 1px solid lightgray;
    height: 3em;
    font-family: 'Open Sans', sans-serif;
}

.searchByTag input:focus{
    border-bottom: 1px solid black;
}

.studentsList {
    border-bottom: 1px solid black;
}

.student-list img {
    border-radius: 50%;
    border: solid 1px grey;
    width: 100px;
    height: 100px;
    margin: 1rem;
}

.student-list {
    position: relative;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    grid-gap: 0 5px;
    grid-auto-rows: minmax(100px, auto);
    border-bottom: solid 1px lightgray;
}

.student-info ul li {
    list-style: none;
    margin: 5px;
    padding-left: 15px;
}

.student-info .student-name {
    padding-left: 0;
    font-size: 32px;
    font-weight: bold;
}

.student-list button {
    position: absolute;
    left: 90%;
    top: 5%;
    margin: 20px;
    border: none;
    border-radius: 10px;
    max-height: 40px;
    max-width: 40px;
}